@import "tailwindcss";

/* Apply to the entire app */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #94a3b8 transparent; /* thumb color and track background */
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* Slate-400 */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; /* Slate-500 on hover */
}

.cls-1 {
  fill: #4caf50;
}
.cls-2 {
  fill: #b9f6ca;
}
.cls-3 {
  fill: #e8f5e9;
}

.clsx-1 {
  fill: #4caf50;
}
.clsx-2 {
  fill: #b9f6ca;
}
.clsx-3 {
  fill: #e8f5e9;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.animate-fade-up-once {
  animation: fade-up-once 1s ease-out;
}
